[Unit]
Description=Run Spotify Pi Remote program
After=rc-local.service

[Service]
Type=simple
PIDFile=/run/buttonserver.pid
ExecStart=/home/pi/spotify-pi-remote/.venv/bin/python /home/pi/spotify-pi-remote/buttonserver.py
User=pi
Group=pi
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

