[Unit]
Description=Run Spotify Pi Remote program
After=rc-local.service

[Service]
Type=simple
PIDFile=/run/buttonserver.pid
ExecStart=/usr/bin/python3 /home/pi/spotify-pi-remote/buttonserver.py
User=pi
Group=pi
Restart=always
StartLimitIntervalSec=0
RestartSec=3

[Install]
Alias=buttonserver-service
WantedBy=multi-user.target

